[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
python-dotenv = "*"
Flask = "*"
Flask-Babel = "*"
Flask-Bootstrap = "*"
Flask-Login = "*"
Flask-Migrate = "*"
Flask-SQLAlchemy = "*"
Flask-WTF = "*"
WTForms = "*"
SQLAlchemy = "*"
Werkzeug = "*"

[dev-packages]

[requires]
python_version = "3.6"
